body {
    font-family: Gotham, Helvetica, Arial, sans-serif;
    color: #58595B;
    margin: 0 auto;
    padding: 30px;
    background: #F7F7F7;
    text-align: center;
}

h1 {
    text-transform: uppercase;
}

h3 {
    color: #00AB95;
}

a {
    color: #00AB95;
    text-decoration: none;
}

a:hover {
    color: #ED6C7B;
}

table {
    padding: 0;
    margin-left: auto;
    margin-right: auto;
}

td {
    border-radius: 3px;
    background-color: #FFFFFF;
    padding: 10px;
    margin-bottom: 3px;
    text-align: left;
}

.blank {
    background: #F7F7F7;
}